  .articles{
    min-height: 120vh;
  }
  
  .articles .img-logo {
      width: 30px;
      height: 30px;
      padding: 5px;
  }
  
  .articles h5{
    display: flex;
    justify-content: center;
  }
  
  .articles a{
    color: black;
  }
  
  .articles p{
    color: gray;
    display: flex;
    justify-content: center;
  }
  
  .articles .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    grid-template-rows: repeat(auto-fit, minmax(150px, 350px));
    grid-gap: 14px;
    margin: 10px;
  }
  
  .articles .item {
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.7) !important;
    min-height: 350px;
    min-width: 350px;
    border-radius: 10px;
  }
  
  .articles .item img {
    width: 100% !important;
    height: 80% !important;
    object-fit: fill !important;
    padding: 10px;
  }