.projects{
  min-height: 120vh;
}

.projects .img-logo {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.projects h5{
  display: flex;
  justify-content: center;
}

.projects a{
  color: black;
}

.projects p{
  color: gray;
  display: flex;
  justify-content: center;
}

.projects .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
  grid-template-rows: repeat(auto-fit, minmax(150px, 350px));
  grid-gap: 14px;
  margin: 10px;
}

.projects .item {
  background-color: var(--main-color);
<<<<<<< HEAD
  border-radius: 10px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.7) !important;
=======
  min-height: 350px;
  min-width: 350px;
  border-radius: 10px;
}

.projects .item img {
  width: 100% !important;
  width: 100% !important;
  object-fit: contain !important;
  padding: 10px;
>>>>>>> efec6e7ffd10b6608686062d453a0343ceb2a657
}