#project-page .img-logo {
    width: 30px;
    height: 30px;
    padding: 5px;
}

#project-page h2{
  color: rgb(0, 130, 243);
}

#project-page h1{
  font-size: 34px;
  padding: 5px;
  color: black;
  display: flex;
	align-items: center;
	justify-content: center;
  text-decoration: underline overline var(--main-color);
}

#project-page .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2px;
  margin-left: 100px;
  margin-right: 100px;
}

#project-page .item {
  background-color: var(--main-color);
  min-height: 250px;
  min-width: 250px;
}