.projects{
  min-height: 120vh;
}

.projects .img-logo {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.projects h5{
  display: flex;
  justify-content: center;
}

.projects a{
  color: black;
  text-decoration: none;
}

.projects p{
  color: gray;
  display: flex;
  justify-content: left;
  clear: both;
  float: left;
  padding-left: 10px;
}

.projects .div-label{
  display: flex;
  justify-content: right;
  float: right;
  padding-right: 10px;
}

.projects label{
  color: black;
  display: flex;
  border-radius: 5px;
  background-color: gray;
}

.projects .label-icon{
  float: center;
}

.projects .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
  grid-template-rows: repeat(auto-fit, minmax(150px, 350px));
  grid-gap: 14px;
  margin: 10px;
}

.projects .item {
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.7) !important;
  min-height: 350px;
  min-width: 350px;
  border-radius: 10px;
}

.projects .item img {
  width: 100% !important;
  height: 80% !important;
  object-fit: fill !important;
  padding: 10px;
}

.projects .dropdown {
  position: relative;
  float: right;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 10px;
}