#about-page *{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
#about-page p {
  color: #ffffff;
  overflow: auto;
  font-style: italic;
}
#about-page .text-bubble{
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#about-page h1 {
  color: burlywood;
  font-weight: bold;
  text-transform: uppercase;
}
#about-page h2 {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
#about-page section {
  padding: 20px 0;
}
#about-page section h3{
  font-size: 34px;
  padding: 5px;
  color: #ffffff;
  display: flex;
	align-items: center;
	justify-content: center;
  text-decoration: underline overline orange;
}
/* Info */
#about-page .img-logo {
  width: 30px;
  height: 30px;
  padding: 5px;
}

#about-page .container{
  display: flex;
  width: auto;
  align-items: end;
  background-color: gray;
}

#about-page .side-left{
  padding: 10px;
}

#about-page .side-left img{
  width: 150px;
  resize: both;
  border-radius: 20%;
  object-fit: contain;
}

#about-page .side-right{
  display: inline;
  align-items: baseline;
}

/* Print */
#about-page .print-span {
  font-size: 16px;
  color: purple;
  overflow: auto;
  font-family: 'Courier New', Courier, monospace;
  
}

#about-page .message-span {
  font-size: 16px;
  color: orange;
  overflow: auto;
  font-family: 'Courier New', Courier, monospace;
}

#about-page .bracket-span {
  font-size: 16px;
  color: green;
  overflow: auto;
  font-family: 'Courier New', Courier, monospace;
}