#about-page p {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    border-radius: 15px;
    overflow: auto;
  }

/* Print */
#about-page .print-span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: purple;
    overflow: auto;
}

#about-page .message-span {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: orange;
  overflow: auto;
}

#about-page .bracket-span {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: green;
  overflow: auto;
}

/* About Me Section */
/* Studies */
#about-page .about-me-studies,
.about-me-work {
  color: #ffffff;
  padding: 20px 0;
}

#about-page h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Info */
#about-page .container{
  display: flex;
  width: auto;
  align-items: end;
}

#about-page .side-left{
  flex: 1;
  padding: 10px;
}

#about-page .side-left img{
  width: 150px;
  height: 220px;
  border-radius: 20%;
}

#about-page .side-right{
  display: flex;
  align-items: center;
}

#about-page .img-logo {
  width: 50px;
  height: 50px;
  padding: 5px;
}